:root {
  --darkGray: rgb(231, 231, 231);
  --lightGray: rgb(245, 244, 244);
  --lighterGray: rgb(250, 250, 250);
  --ppWidth: 80%;
  --SearchPadding: 0.3rem;
  --navHeight: 56px;
}
.top {
  width: 100%;
  height: var(--navHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}
.lightGray {
  background-color: var(--lightGray);
}
.darkGray {
  background-color: var(--darkGray);
}
.pp {
  width: var(--ppWidth);
  cursor: pointer;
}
.nav {
  width: calc(100% - var(--ppWidth));
  display: flex;
  color: grey;
  justify-content: space-between;
}
.nav svg {
  cursor: pointer;
  transition: 0.5s;
}
.nav svg:hover {
  color: rgb(88, 88, 88);
  transition: 0.5s;
}
.img {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.searchBar {
  width: 100%;
  border-radius: 2rem;
  outline: none;
  padding: var(--SearchPadding);
  border: none;
  box-sizing: border-box;
  padding-left: 5rem;
  font-size: 0.9rem;
  /* color: var(--darkGray); */
}
.searchIcon,
.searchIconArrow {
  position: absolute;
  /* height: 100%; */
  /* font-size: 2rem; */
  top: calc((100% - 1.2rem) / 2);
  left: 1.3rem;

  color: grey;
  transform-origin: center;
  /* transform: rotateZ(90deg); */
  animation: searchAnimation 0.2s ease-in;
  cursor: pointer;
}
.searchIconArrow {
  color: rgb(0, 178, 248);
  /* transform-origin: top; */
  font-size: 1.5rem !important;
  top: calc((100% - 1.7rem) / 2);
  -webkit-text-stroke: 2.5px white;
  animation: backAnimation 0.2s ease-in;
}
.noPad {
  padding: 0;
}
.noBorderRad {
  border-radius: 0;
}
.maxHeight {
  height: 100%;
}
.shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
@keyframes searchAnimation {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes backAnimation {
  0% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
