.yours {
  justify-content: flex-start;
}
.mine {
  justify-content: flex-end;
}
.message,
.dateSec {
  display: flex;
  width: 100%;
  margin-top: 0.2rem;
}
.dateSec {
  position: relative;
  justify-content: center;
}
.imageType,
.wrapVid {
  object-fit: contain;
  width: 20rem;
  border-radius: 0.3rem;
  position: relative;
}
.vid {
  width: 100%;
}
.playIcon {
  position: absolute;
  background-color: var(--playIconBkgColor);
  border-radius: 50%;
  padding: 1rem;
  font-size: 3rem;
  top: calc(50% - 1rem);
  left: 9rem;
  margin: auto;
  color: var(--profileInputBkgColor);
  cursor: pointer;
}
.date {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.5em 1em;
  background-color: var(--dateBkgColor);
  color: var(--dateColor);
  box-shadow: 0.1rem 0 2px var(--boxShadowStyle3);
  border-radius: 0.5em;
}

.myMessageFloat,
.yourMessageFloat {
  position: relative;
  margin-left: var(--Chatmargin);
  margin-right: var(--Chatmargin);
  font-size: 1rem;

  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  z-index: 2;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0 2px var(--boxShadowStyle3);
  max-width: 35rem;
  word-break: break-all;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .myMessageFloat,
  .yourMessageFloat {
    /* width: 100%; */
    width: fit-content;
    max-width: 100%;
  }
  .imageType,
  .wrapVid {
    max-width: 100%;
  }
}
.time {
  display: flex;

  padding-left: 1rem;

  font-size: 0.7rem;
  color: var(--iconColor);
}
.wrapTime {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  height: 1.5rem;
}
.myMessageFloat {
  background-color: var(--myMessageColor);
  color: var(--fontDefaultColor);
}
.yourMessageFloat {
  background-color: var(--yourMessageColor);
  color: var(--fontDefaultColor);
}
.myMessageFloatTri {
  border-top-right-radius: 0;
  margin-top: 1rem;
}
.yourMessageFloatTri {
  border-top-left-radius: 0;
  margin-top: 1rem;
}
.myMessageFloatTri::before,
.yourMessageFloatTri::before {
  position: absolute;
  content: "";

  top: 0;

  width: var(--sizeOfMessageTriangle);
  height: var(--sizeOfMessageTriangle);
  z-index: -5;
}
.myMessageFloatTri::before {
  background-color: var(--myMessageColor);
  right: calc((var(--sizeOfMessageTriangle) / 2) * -1);
  transform: skewX(135deg);
  border-top-right-radius: var(--triangleBorderRadius);
}
.yourMessageFloatTri::before {
  background-color: var(--yourMessageColor);
  left: calc((var(--sizeOfMessageTriangle) / 2) * -1);
  transform: skewX(45deg);
  border-top-left-radius: var(--triangleBorderRadius);
}
.message:nth-last-child(1) {
  margin-bottom: 2rem;
}
.loadingBkg {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  left: calc((100% - 3rem) / 2);
  border-radius: 50%;
  background-color: var(--profileInputBkgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.05rem 0.3rem 0.05rem var(--boxShadowStyle3);
}
.loadingBkg > div {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 0.2rem solid var(--greenish);
  border-bottom: 0.1rem solid var(--profileInputBkgColor);
  animation: rotate infinite 0.5s;
}
.scrollDown {
  position: fixed;

  width: 3rem;
  height: 3rem;

  right: 5vw;
  bottom: 7rem;
  border-radius: 50%;
  background-color: var(--profileInputBkgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.05rem 0.3rem 0.05rem var(--boxShadowStyle3);
  color: var(--iconColor);
  z-index: 4;
}
.scrollDown > i {
  font-size: 2rem;
}
.blur {
  position: absolute;
  height: 1.6rem;
  top: 0;
  right: 0;
  border-radius: 0.3rem;

  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.dropDownPrompt {
  padding-left: 1rem;
}
.myMessageFloat .blur {
  background-image: linear-gradient(
    to right,
    var(--myMessageBkgInvisible),
    var(--myMessageBkg) 70%
  );
}
.yourMessageFloat .blur {
  background-image: linear-gradient(
    to right,
    var(--invisiblePureWhite),
    var(--profileInputBkgColor) 80%
  );
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
