.icon > img {
  filter: invert(100%);
  width: 100%;
  height: 100%;
}
.icon {
  width: calc(30px + 1rem);
  height: calc(30px + 1rem);
  background-color: var(--extremeDarkGreen);
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.updatedIcon {
  border: none;
  width: fit-content;
  box-sizing: border-box;
}
.updatedText {
  border-top: 0.03rem solid var(--underlineBorderColor);
  border-bottom: none;
}
.updatedText:hover,
.updatedIcon:hover {
  background-color: var(--bodyHover);
}
.newFocus {
  cursor: pointer;
}
.newFocus:hover {
  background-color: var(--bodyHover);
}
.status {
  color: var(--navHoverColor);
  font-weight: 400;
  font-size: 0.9rem;
}
.des {
  color: var(--extremeDarkGreen);
  font-size: 1rem;
  width: 100%;
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.username {
  font-weight: 400;
  color: var(--fontDefaultColor);
}
.ellipsis {
  text-overflow: ellipsis;
  width: 13vw;
  overflow: hidden;
  white-space: nowrap;
  min-width: 13ch;
}
.date {
  font-size: 0.6rem;
}
