.bkg {
  width: 100%;
}
.green {
  background-color: var(--backgroundGreen);
  height: 30%;
  width: 100%;
}
.white {
  background-color: var(--bkgWhiteColor);
  height: 70%;
  width: 100%;
}
.form {
  background-color: var(--profileInputBkgColor);
  left: calc((100% - var(--form-left)) / 2);
  padding: 4rem;
  position: absolute;
  top: 150px;
  width: var(--form-left);

  box-shadow: 0 0 0.2rem 0.2rem var(--boxShadowStyle2);
  color: var(--fontDefaultColor);
}
.title {
  position: absolute;
  top: 19px;
  left: 20%;
  color: var(--fontDefaultColor);
}
.title > span {
  color: var(--remainBright);
}
.icon {
  width: 6rem;
}
.title > span {
  font-size: 1rem;
  text-transform: uppercase;
}
.btn {
  margin: 0 auto;
  margin-top: 19px;
}
.wrapImage {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}
.userImage {
  width: var(--size-of-signup-image);
  height: var(--size-of-signup-image);
  border-radius: 50%;
  background-color: var(--bkgWhiteColor);
  overflow: hidden;
}
.imagePicker {
  position: absolute;
  /* opacity: 0; */
  width: var(--size-of-signup-image);
  height: var(--size-of-signup-image);
  border-radius: 50%;
  opacity: 0;
}
.pp {
  width: var(--size-of-signup-image);
  height: var(--size-of-signup-image);
  object-fit: contain;
}
.alert {
  width: 50%;
  /* min-width: 500px; */
  position: fixed;
  top: 19px;
  left: calc(25%);
  z-index: 10;
  margin: 0 !important;

  border-radius: 1rem;

  padding: 2rem;
  box-shadow: 0 0 0.2rem 0.2rem var(--boxShadowStyle2);
}
.red {
  color: var(--redAlertColor);
  background-color: var(--redAlertBkg);
}
.green_ {
  color: var(--greenAlertColor);
  background-color: var(--greenAlertBkg);
}
.red .btnError {
  border: 1px solid (--errorRed);
  color: (--errorRed);
}
.green_ .btnError {
  color: var(--successGreen);
  border: 1px solid var(--successGreen);
}
.buttonAlert {
  padding: 0.2rem;
  display: flex;
  justify-content: flex-end;
}
.btnError {
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  background-color: inherit;

  border-radius: 0.5rem;
}
.heightOfBackDrop {
  height: 100vh;
}
@media (max-width: 660px) {
  /* body {
    overflow-y: hidden;
  } */
  :root {
    --form-left: 100% !important;
    --size-of-signup-image: 6rem !important;
  }
}
@media (max-width: 470px) {
  .title {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .form {
    padding: 2rem;
  }
}
