.bkg {
  width: 100%;
}
.green {
  background-color: var(--extremeDarkGreen);
  height: 30%;
  width: 100%;
}
.white {
  background-color: var(--bkgWhiteColor);
  height: 70%;
  width: 100%;
}
.form {
  background-color: var(--profileInputBkgColor);
  left: calc(50% / 2);
  padding: 4rem;
  position: absolute;
  top: 150px;
  width: 50%;

  box-shadow: 0 0 0.2rem 0.2rem var(--boxShadowStyle2);
}
.title {
  position: absolute;
  top: 19px;
  left: 300px;
  color: var(--profileInputBkgColor);
}
.icon {
  width: 6rem;
}
.title > span {
  font-size: 1rem;
  text-transform: uppercase;
}
.btn {
  margin: 0 auto;
  margin-top: 19px;
}
.wrapImage {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}
.userImage {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--bkgWhiteColor);
  overflow: hidden;
}
.imagePicker {
  position: absolute;
  /* opacity: 0; */
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  opacity: 0;
}
.pp {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.alert {
  width: 50%;
  /* min-width: 500px; */
  position: fixed;
  top: 19px;
  left: calc(25%);
  z-index: 10;
  margin: 0 !important;

  border-radius: 1rem;

  padding: 2rem;
  box-shadow: 0 0 0.2rem 0.2rem var(--boxShadowStyle2);
}
.red {
  color: var(--redAlertColor);
  background-color: var(--redAlertBkg);
}
.green_ {
  color: var(--greenAlertColor);
  background-color: var(--greenAlertBkg);
}
.red .btnError {
  border: 1px solid (--errorRed);
  color: (--errorRed);
}
.green_ .btnError {
  color: var(--successGreen);
  border: 1px solid var(--successGreen);
}
.buttonAlert {
  padding: 0.2rem;
  display: flex;
  justify-content: flex-end;
}
.btnError {
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  background-color: inherit;

  border-radius: 0.5rem;
}
